:root {
    --main-grey: #AAA;
    --light-grey: #DDD;
    --main-blue: #2874ed;
}

html, body {
    width: 400px;
    height: 599px;
    margin: 0;

    background-color: #EEE;

    overflow: hidden;

    font-family: sans-serif;
}

#globe {
    width: 400px;
    height: 330px;
}

#lower-box {
    width: 400px;
    height: 269px;
}

#lower-box hr {
    margin: 0px 30px;
    border: 1px solid var(--main-grey);
    border-radius: 5px;
    background-color: var(--main-grey);
}

.info-toolbar {
    display: flex;
    justify-content: space-around;
    align-items:baseline;

    padding: 10px;
    padding-top: 5px;
    height: 45px;
}

.toolbar-item {
    transition-duration: 0.4s;

    padding: 7px 25px;
    font-weight: bold;
    font-size: 12pt;
    color: var(--main-grey);

    border-style:solid;
    border-radius: 5px;
    border-color: var(--main-grey);
    border-width:3px;

    cursor: pointer;
    user-select: none;

    text-align:center;
}

.toolbar-item:hover {
    color: var(--main-blue);
    border-color: var(--main-blue);
}

.toolbar-item-selected {
    color: var(--main-blue);
    border-color: var(--main-blue);

    font-size: 14pt;
}

.info-content {
    overflow: hidden;
    margin: 15px 30px;
    width: auto;
    height: auto;
}

.info-slider {
    transition: all 0.5s ease-in-out;

    width: 300%;
    position: relative;
    left: calc(100% * -1);
    transform: translateZ(0);
}

.content-item {
    width: calc((100% / 3) - 3px);
    height: 170px;
    display: inline-block;
    overflow: hidden;
    padding: auto;
    vertical-align:top;
}

#recent-list {
    margin: 0;
    padding: 0 auto;
    width: 100%;
}

.recent-dark {
    background-color: var(--light-grey);
}

#recent-list>div {
    width: 100%;
    height: 0px;
    border-width: 0px;
    margin: auto;

    display: flex;
    align-content: center;
    justify-content: center;
    /*align-items: flex-end*/;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
}

#recent-list>div.recent-visible {
    height: 27px;
}
#recent-list>div.recent-invisible {
    opacity: 0;
}

#recent-list>div div {
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    border-width: 0px;
    display: inline-block;
}

#recent-list img {
    width: 100%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

#recent-list>div div:nth-child(1) { width: 30px; padding: 5px 10px; }
#recent-list>div div:nth-child(2) { width: 95px; padding: 5px 5px; }
#recent-list>div div:nth-child(3) { width: 120px; padding: 5px 5px; }

#about {
    text-align: center;
    font-size: 10pt;

    display: flex;
    flex-direction: column;

    height: 100%;
}

.about-header {
    flex-grow: 1;
    padding-top: 15px;
}

.about-title {
    font-weight: bold;
    font-size: 12pt;
}

.about-license {
    align-self: flex-end;
    padding-bottom: 35px;
}

#stats {
    height: 100%;
    font-size: 10pt;
}

#stats>div { width: 50%; }
#stats>div:nth-child(1) { float:left; }
#stats>div:nth-child(2) { float:right; }

.stats-table {
    margin: 0 auto;
}

.stats-table tr>td:nth-child(1) {
    padding-right: 15px;
}

.stats-table tr>td:nth-child(2) {
    float: right;
}